* {
    margin: 0;
    padding: 0;
  }
  #first {
    background-color: red;
    height: 100px;
    width: 200px;
    font-size: 10px;
    text-align: center;
  }
  #second {
    background-color: chartreuse;
    height: 60%;
    width: 50%;
    font-size: 2.5em;
    text-align: center;
  }