*{
    margin: 0;
    padding: 0;
}
nav{
    padding: 5px;
}
nav a{
    text-decoration: none;
    margin: 50px;
    padding: 115px;
}
header{
    background-color: palegreen;
    height: 30px;
}
#second{
    background-color: green;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 5px;
}
.box{
    height: 100px;
    width: 100px;
    background-color: aqua;
    margin: 5px;
    display: inline-block;
}
#container{
    border: 3px solid;
    margin: 5px;
}
#box2{
    z-index: 2;
    position: absolute;
    left: 150px;
}
#box4{
    position: fixed;
    left: 350px;
    top: 92px;
}
footer{
    position: fixed;
    bottom: 0px;
    background-color: mediumaquamarine;
}